body {
	font-family: sans-serif;
}

#content {
	margin-left: 25%;
	margin-right: 25%;
}

.success {
	color: #008000;
}

.fail {
	color: #800000;
}

.title {
	font-size: 36px;
	font-weight: bold;
	margin-top: 20px;
}

.heading {
	font-size: 25px;
	font-weight: bold;
	margin-top: 30px;
}

.subheading {
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}